$main-color: #4A72B0;
$sec-color: #0D1B41;
$font-color: rgb(43, 43, 43);
$font-lightcolor: #ffffff;
$title-font: 2.2em 'Fira Sans', sans-serif;
$subtitle-font: 1.4rem 'Merriweather Sans', sans-serif;
$border: solid 2px rgb(241, 241, 241);

h1, h2 {
  font: $title-font;
  color: $font-color;
}

p {
  font: $subtitle-font;
}