$main-color: #4A72B0;
$sec-color: #0D1B41;
$font-color: #2b2b2b;
$font-lightcolor: #ffffff;
$value-color: #AC936C;
$title-font: 2.2em 'Fira Sans', sans-serif;
$subtitle-font: 1.3rem 'Merriweather Sans', sans-serif;
$border: solid 2px rgb(241, 241, 241);

h1, h2 {
  font: $title-font;
  color: $font-color;
}

p {
  font: $subtitle-font;
}